img {
    max-width: 100%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Open Sans', sans-serif;
}

ul,
ol,
menu {
    list-style: none;
}

a {
    color: currentColor;
}

i {
    color: #B1B1B1;
}

/* body */
body {
    height: 100vh;
    /* background-color: rgb(231, 222, 222);  */
    background: rgb(217, 219, 213);
    background: linear-gradient(0deg, rgba(217, 219, 213, 1) 82%, rgba(0, 150, 136, 1) 82%);
    display: flex;
    align-items: center;
    justify-content: center;

}

#app {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    height: 95%;
    background-color: white;
    display: flex;
}

.chat,
.sidebar {
    /* border: 1px solid black; */
    /* padding: 20px; */
    display: flex;
    flex-direction: column;
}

/* notification */
.notification_alert {
    display: flex;
    gap: 20px;
    padding: 15px 18px;
    align-items: center;
    background-color: #8EDAFC;
}

.notification_alert i {
    font-size: 25px;
    color: #8EDAFC;

}

.icon_notification {
    background-color: white;
    padding: 15px;
    border-radius: 50%;
    aspect-ratio: 1/1;

}

.notification_message {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 4px;
}

.active_notification {
    font-size: 13;
    font-weight: 400;
    color: #4d4e4f;
}


/* sidebar */
.sidebar {
    flex-basis: 380px;
    
}
.sidebar .toolbar{
border-right: 1px solid #c1c1c1;
}

.sidebar .contacts {
    flex-grow: 1;
}

/* toolbars */
.toolbar {
    background-color: #EAEAEA;
    padding: 12px 16px;
    display: flex;
    align-items: center;
    gap: 10px;
    /* width: 100%; */

}

.toolbar h3 {
    font-weight: 400;
    font-size: 16px;
    color: rgb(65, 63, 63);
}

/* chat */
.chat {
    flex-grow: 1;
}

/* .chat .messages {
    flex-grow: 1;
   
} */

/* CONTACTS */
.contact-details {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: auto;
    font-size: 14px;

}

.contacts{
    overflow-y: scroll;
}

.contact {
    display: flex;
    padding: 8px 5px 8px 12px;
    border-top: 1px solid #dedede;
}

.contact-name {
    font-weight: 400;
    font-size: 18px;
    color: rgb(68, 65, 65)
}

.contact-access-info {
    font-size: 12px;
    color: #CBD2DE;
}
.last-access{
    color: #c1c1c1;
    font-size: 16px;
}


.avatar {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    /* aspect-ratio: 1/1; */
    overflow: hidden;
}

/* contatto selezionato */
.contact.active,
.contact:hover {
    background-color: #E9EBEB;
}

/* SEARCH */
.search {
    padding: 10px 8px;
    background-color: #F9F9F9;
    display: flex;
    align-items: center;
    gap: 5px;
}

.search input {
    border-radius: 5px;
    height: 35px;
    padding-left: 45px;
    border: none;
    width: 100%;
}

.search_icon {
    padding: 6px 16px;
    border-radius: 5px;
    background-color: white;
    color: #B1B1B1;
    font-size: 20px;
}

/* messaggi */

.messages {
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.messages-container{
    flex-grow: 1;
    background-image: url('./assets/mine.jpg');
    background-size: contain;
    overflow-y: scroll;
}
.message {
    font-size: 16px;
    border-radius: 5px;
    padding: 10px;
    background-color: white;

}

.message.sent {
    align-self: flex-end;
    background-color: #d5f9ba;

}

.message.received {
    align-self: flex-start;
    background-color: white;
}


/* area text CHAT */
.add-new-message {
    display: flex;
    padding: 8px 30px;
    align-items: center;
    gap: 10px;
    background-color: #F3EEEA;
}

.add-new-message input {
    flex-grow: 1;
    padding-left: 20px;
    line-height: 45px;
    border: none;
    border-radius: 5px;
}

.add-new-message i {
    font-size: 22px;
}